.vs/
Binary/
!Tools/
!Common/
!Libraries/Include/
DummyClient/x64/
GameServer/x64/
ServerCore/x64/
/Libraries/Libs/ServerCore/


# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pch
*.pdb
*.tlog
*.ilk
*.exe

*.vcxproj.filters